/* Styles for the welcome message */
.welcome-text {
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 250%;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 10%;
}

/* Styles for title and image logo */
#custom-title {
  color: #fff;
  font-size: 35px;
  font-weight: 900;
  margin-left: 20px;
}

.custom-navbar {
  background: #040464;
}

.logo-img {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

/* Default style for "Log in" button */
.menu-link {
  color: white;
  transition: background-color 0.3s;
}

.menu-user {
  color: rgb(132, 128, 128);
  transition: background-color 0.3s;
}

/* Style when hovering over "Log in" button */
/* Style when hovering over menu links */
.menu-link:hover,
.menu-user:hover {
  color: gray;
}

/* Custom button style */
.custom-button-login {
  background-color: #040464;
  color: #fff;
  font-weight: bold;
}

/* Custom style for "Reset" button */
.custom-button-home {
  background-color: #040464;
  color: #fff;
  margin: 1px;
  font-weight: bold;
  height: 60px;
}

/* Style for the button on hover state */
.btn-custom:hover {
  background: #363d8d;
  color: #fff;
}

/* Background image style */
.bg-image {
  background-image: url("fondoGris.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Styles for titles */
h1 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
}

/* Change link text color to red */
a {
  color: #040464;
}

/* Additional styles for "Buy" button */
.btn-lg {
  padding: 15px 40px;
}

/* Styles for the container */
.container-with-bg {
  background-image: url("fondoAzul.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: #fff;
  padding: 200px;
}

/* Styles for the conversion container */
.conversion-container {
  background-color: rgba(255, 255, 255, 1);
  padding: 50px;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.imput-custom {
  height: 50px; /* Ajusta la altura según tus preferencias */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
